@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  background: #F2F2F2;
  font-family: "Source Sans Pro", sans-serif;
  color: #272727;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: top;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
}

.main_title {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}

.header {
  background-image: url(../../img/Background.svg);
  background-color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  padding: 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar_menu-list {
  margin: 0 25px;
}

.navbar_menu-link {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.navbar_menu-link:hover {
  opacity: 1;
}

.selected_menu_link {
  opacity: 1;
}

.navbar_btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar_btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar_btn-group .btn-link {
  color: #FFF;
  margin-right: 44px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
}
.navbar_btn-group .btn-primary {
  color: #250F8A;
  padding: 7px 42px;
  background-color: #FFF;
  border-radius: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.navbar_btn-group .btn-primary:hover {
  background-color: transparent;
  color: #FFF;
}

.btn-group {
  background: transparent;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.header_content-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  color: #FFF;
  margin-bottom: 15px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  color: #FFF;
  margin-bottom: 60px;
}

.header__btn {
  background-color: #FFCA00;
  border-radius: 25px;
  padding: 13px 39px;
  color: #250F8A;
  font-weight: 600;
  text-align: center;
  border: 1px solid #FFCA00;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header__btn:hover {
  background-color: transparent;
  color: #FFF;
}

.header_content-right {
  width: 50%;
}

.header_swiper-container .swiper {
  width: 100%;
  height: 500px;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: white !important;
  margin: 6px auto !important;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.swiper-pagination-bullet-active {
  border-radius: 5px !important;
  width: 20px !important;
}

.features {
  background-color: #FFF;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 98px;
}

.features_title {
  text-align: center;
  padding: 15px 0;
}

.features_row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 40px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 91px;
  position: relative;
}
.features_row:before {
  content: url(../../img/Style_features.svg);
  position: absolute;
  left: -15%;
  top: -25%;
}

.features_item {
  text-align: center;
}

.features_item-img {
  margin-bottom: 23px;
}
.features_item-img img {
  margin: 0 auto;
}

.features_item-title {
  margin-bottom: 10.75px;
}
.features_item-title h5 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
}

.features_item-text {
  text-align: center;
  opacity: 0.7;
  line-height: 24px;
}
.features_item-text p {
  font-weight: 400;
}

.how_we_work {
  background-color: #F4F9FD;
  overflow: hidden;
  padding: 0 0 50px 0;
}

.how_we_work_section {
  margin-top: 75px;
}

.how_we_work_text {
  padding: 20px 15px 20px 0;
}
.how_we_work_text p {
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  opacity: 0.7;
}

.how_we_work-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how_we_work-first-left {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how_we_work_title {
  position: relative;
}
.how_we_work_title:before {
  content: url(../../img/Background_minor-title.svg);
  position: absolute;
  left: -40px;
  top: -50px;
}

.how_we_work-first-right {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how_we_work-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}
.how_we_work-second:after {
  content: url(../../img/Style_how-we-work.svg);
  position: absolute;
  right: -25%;
  top: 20%;
  background-repeat: no-repeat;
}

.how_we_work-second-left {
  width: 50%;
}

.how_we_work_title {
  position: relative;
}
.how_we_work_title:before {
  content: url(../../img/Background_minor-title-2.svg);
  position: absolute;
  left: -20px;
  top: 0px;
}

.how_we_work-second-right {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how_we_work-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how_we_work-third-left {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how_we_work_title {
  position: relative;
}
.how_we_work_title:before {
  content: url(../../img/Background_minor-title-3.svg);
  position: absolute;
  left: -40px;
  top: -20px;
}

.how_we_work-third-right {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial {
  background: url(../../img/Background-testimonial.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial__body {
  padding: 38px 0 82px 0;
}

.testimonial_title {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 48px;
}

.testimonial_row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial_item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 35px 20px;
}

.testimonial_item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}

.testimonial_header-user img {
  border-radius: 100%;
}

.testimonial_header-info {
  margin-left: 20px;
}

.testimonial_header-title {
  color: #FFF;
}
.testimonial_header-title h5 {
  font-weight: 600;
  line-height: 24px;
  font-size: 15px;
}

.testimonial_header-meta span {
  opacity: 0.5;
}

.testimonial_content-blockquote {
  margin-top: 20px;
}
.testimonial_content-blockquote span {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;
}
.testimonial_content-blockquote blockquote {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
}

.footer {
  background: #F2F2F2;
  padding: 25px 0 19px 0;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_left-menu_link {
  color: #272727;
  font-weight: 400;
  padding: 0 15px;
}

.footer_right-copyright {
  color: #272727;
  font-weight: 400;
}